<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

        <li>
            <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-users fa-stack-1x "></i></span>Nhân viên</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-eye fa-stack-1x "></i></span>Danh sách nhân viên</a></li>
                <li><a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-plus fa-stack-1x "></i></span>Thêm mới nhân viên</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/view-all-projects"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-file-text fa-stack-1x "></i></span>Quản lý tình trạng hồ sơ</a>
        </li>
        <li>
            <a href="/admin/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-envelope-square fa-stack-1x "></i></span> Đơn xin nghỉ phép</a>
        </li>
        <li>
            <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-user fa-stack-1x "></i></span>Thông tin tài khoản</a>
        </li>
    </ul>
</div><!-- /#sidebar-wrapper -->